.Fondo1 img{
    position: absolute;
    top: -10px;
    margin-left: -8px;
}

.Text1 h1{
    position: relative;
    z-index: 1;
    left: 450px;
    top: 40px;
    font-family: 'Minecraft', sans-serif;
    color: white;
    text-shadow: 1px;
                                                
}
