.Fondo1{
    position: absolute;
    margin: -10px -10px -10px;
    filter: blur(10px);
    padding: 0;
}

.Formulario{
    position: absolute;
    top: 170px;
    left: 450px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    width: 400px;
    border-radius: 10px;
}

.Formulario h1{
    text-align: center;
    padding: 0  0 20px 0;
    border-bottom: 1px solid silver;
}

.Formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

.Formulario .Username{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
    text-align: center;

}

.Formulario .Contrasena{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
    text-align: center;

}

.Username input{
    width: 100%;
   padding: 0 5px;
   height: 40px;
   font-size: 16px;
   border: none;
   background:none;
   outline: none; 
}


.Contrasena input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background:none;
    outline: none; 
}


.recordar:hover{
    text-decoration: underline;
}

.recordar{
    text-align: center;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    background-color: rgb(141, 0, 141);
    border-radius: 25px;
    font-size: medium;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: rgb(255, 255, 255);
    transition: .5s;
}

.registrarse{
    margin: 30px 0;
    text-align: center;
    color: black;
}

.registrarse p{
    margin-top: -10px;
}

.Formulario h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.Formulario {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }